<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-wrap" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <img id="blah" alt="Retina Image" class="form-control" width="100" height="100" /><br/>
      <input type="file"   name="myfile" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
      {{ form.as_p }}
        <br/><br/>
      <input class="btn btn-primary" type="submit" value="Submit">
</form>
</body>
</html>